Package: com.mikey820.airpodsreconnectfix
Name: AirPodsReconnectFix
Version: 2.7.1
Architecture: iphoneos-arm
Description: Diagnostic: dumps iOS-6 MediaPlayer route classes (MPAVRoutingController is iOS 7+, need iOS-6 equivalent)
Maintainer: mikey820 <mikey820@users.noreply.github.com>
Author: mikey820
Section: Tweaks
Icon: icon.png
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 6.0)
